<footer class="footer">
  <div class="left">
    Signal Track Analytical Processing system (STAP)
  </div>
  <div class="right">
    Email: <a href="mailto:stql@cs.hku.hk" target="_blank">stql@cs.hku.hk</a>
  </div>
</footer>