<div class="row" id="error_area">
  <% unless flash.empty? %>
    <% flash.each do |key, value| %>
      <div data-alert class="alert-box small-6 small-centered columns <%= key.to_s == 'notice' ? 'success': 'alert' %>">
        <%= content_tag :div, value %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>
  <% end %>
</div>
