<div class="row">
  <h3>Result Preview on <%= @query.to_param %></h3>
</div>

<% if @is_trimmed %>
  <div class="row">
    <em>
      (This is only a part of result. For more, please download the file in <%= link_to 'query record', @query %>.)
    </em>
  </div>
<% end %>

<div class="row">
  <div class="small-12 small-centered columns">
    <pre class="row"><%= @content %></pre>
  </div>
</div>

<div class="row">
  <%= link_to "Back", :back %>
</div>