<div class="row clearfix">
  <div class="left">
    <h3>List of Shared Queries
      <% if user_signed_in? %>
        (by other user)
      <% end %>
    </h3>
  </div>
  <div class="right">
    <%= link_to 'New Submission', new_query_path, :class => 'button' %>
  </div> 
</div>


<% if @queries.size > 0 %>
  <div class="row">
    <table id="query_result" class="grid">
      <thead>
        <tr>
          <th>Name</th>
          <th>Query</th>
          <th>Token</th>
        </tr>
      </thead>

      <tbody>
        <% @queries.each do |query| %>
          <tr>
            <td><%= query.name %></td>
            <td><%= query.user_query %></td>
            <td><%= link_to query.token, q_token_url(query.token), target: '_blank' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>