// Place all the styles related to the queries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.dataset > tbody > tr > td {
  cursor: pointer;
}

.content {
  margin: 10px;
}

.CodeMirror {
  width: 100%;
}

#sticky {
  background-color: #fff;
  z-index: 99;
  padding: 0px;
}

#query_result {
  margin-top: 15px;
}

#sticky p, #sticky input[type="text"], #sticky input[type="submit"] {
  margin-bottom: 0px;
}