<table id="displayed_dataset" class="dataset hover compact stripe" data-dbname="<%= @dbname %>">
  <thead>
    <tr>
      <% @entries.display_columns.each do |column_name| %>
        <th><%= column_name.titleize %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @entries.each do |entry| %>
      <tr>
      <% @entries.display_columns.each do |column_name| %>
        <td><%= entry[column_name] %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>